$red-50: #fef2f2;
$red-100: #ffe1e1;
$red-200: #ffcac9;
$red-300: #fea4a3;
$red-400: #fb706e;
$red-500: #f24341;
$red-600: #e12e2c;
$red-700: #bc1b19;
$red-800: #9c1918;
$red-900: #811c1b;
$red-950: #460a09;

$green-50: #f5f9f4;
$green-100: #e6f3e5;
$green-200: #cee6cc;
$green-300: #a6d2a3;
$green-400: #77b573;
$green-500: #5ea95a;
$green-600: #407c3d;
$green-700: #366233;
$green-800: #2e4f2c;
$green-900: #254225;
$green-950: #102310;

$color-scheme: light;
$body-background-color: $white;
$body-heading-color: $grey-dk-300;
$body-text-color: $grey-dk-100;
$link-color: $green-600;
$nav-child-link-color: $grey-dk-100;
$sidebar-color: $grey-lt-000;
$base-button-color: #f7f7f7;
$btn-primary-color: $green-500;
$code-background-color: $grey-lt-000;
$feedback-color: darken($sidebar-color, 3%);
$table-background-color: $white;
$search-background-color: $white;
$search-result-preview-color: $grey-dk-000;