$yolk-50: #fffdeb;
$yolk-100: #fff9c6;
$yolk-200: #fff287;
$yolk-300: #ffe449;
$yolk-400: #ffd41f;
$yolk-500: #fbb405;
$yolk-600: #e89001;
$yolk-700: #b86105;
$yolk-800: #954b0b;
$yolk-900: #7b3d0c;
$yolk-950: #472001;

$green-50: #f5f9f4;
$green-100: #e6f3e5;
$green-200: #cee6cc;
$green-300: #a6d2a3;
$green-400: #77b573;
$green-500: #5ea95a;
$green-600: #407c3d;
$green-700: #366233;
$green-800: #2e4f2c;
$green-900: #254225;
$green-950: #102310;

$color-scheme: light;
$body-background-color: $white;
$body-heading-color: $grey-dk-300;
$body-text-color: $grey-dk-100;
$link-color: $yolk-700;
$nav-child-link-color: $grey-dk-100;
$sidebar-color: $grey-lt-000;
$base-button-color: #f7f7f7;
$btn-primary-color: $yolk-500;
$code-background-color: $grey-lt-000;
$feedback-color: $yolk-50;
$table-background-color: $white;
$search-background-color: $white;
$search-result-preview-color: $grey-dk-000;